node_modules
**/node_modules
**/dist
**/dist-emit
**/.next
**/.turbo
**/coverage
packages/contracts/artifacts
packages/contracts/cache
packages/contracts/build-info
pnpm-lock.yaml
*.tsbuildinfo
**/*.sol
